<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>

<body>
    <h3>Edit Your Listing</h3>
    <form method="post" action="/listings/edit/<%= listing._id%>?_method=put">
        <input type="text" name='listing[title]' placeholder="name" value="<%=listing.title %>" disabled>
        <br>
        <br>
        <input type="text" name='listing[description]' placeholder="description" value="<%=listing.description%>">
        <br>
        <br>
        <input type="number" name='listing[price]' placeholder="price" value="<%=listing.price %>">
        <br>
        <br>
        <input type="text" name='listing[country]' placeholder="country" value="<%=listing.country %>" disabled>
        <br>
        <br>
        <input type="text" name='listing[location]' placeholder="location" value="<%=listing.location %>" disabled>
        <br>
        <br>
        <button>edit</button>


    </form>
</body>

</html>